{% extends 'adminLayout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/add-products.css">
{% endblock %}

{% block content %}
	<h1>NOUVELLE ACTUALITÉ</h1>
	<div class="container">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class='actualityForm'>
					<form method="POST" novalidate>
						<div class="mb-3">
							<label for="name" class="form-label">Nom</label>
							<input type="text" class="form-control" id="name" name="name" placeholder="Nom de l'article" {{actuality.name}} required>
						</div>
						<div class="mb-3">
							<label for="description" class="form-label">Description</label>
							<textarea name="description" class="form-control" id="description" placeholder="Description de l'actualité" rows="30" {{actuality.description}} required></textarea>
						</div>
						<div class="mb-3">
							<label for="Image" class="form-label">image</label>
							<input type="url" class="form-control" id="image" name="image" placeholder="http://image.pnj" {{actuality.image}} required>
						</div>
						<div class="mb-3">
							<button class="btn btn-primary">Ajouter votre produit</button>
						</div>
						<ul class="error">
							{% for error in errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					</form>
				</div>
				<div class="col-lg-2"></div>

			</div>
		</div>
	</div>
{% endblock %}
