{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/skill.css">
{% endblock %}

{% block content %}


	<div class="container">
		<h1 class="skill_title">
			Savoir-faire
		</h1>
		<div class="row skill_box">
			<div class="col-sm-8 skill_text">
				<h2 class="skill_name">
					<img src="/assets/images/grape.jpg" alt="raisin" class="grape" width="100px">
					Le liage
				</h2>
				<p>
					Après la taille, lorsque les bois sont un peu plus flexibles, nous lions la vigne. Le liage permet de contrôler la pousse de la vigne. La vigne est une liane : sans contrôle nous ne pourrions pas rentrer dans nos vignes.
					En fonction du type de taille les bois sont liés différemment. Le liage consiste à attacher le sarmant (appelé baguette) de taille au fil de fer du bas grâce a un petit fil spécial pour soutenir les futures grappes de raisin.<br>
					Après le liage, la nature s'éveille... Vient le temps de l'ébourgeonnage.
				</p>
			</div>
			<div class="col-sm-4 skill_text">
				<div id="skill_carousel1" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#skill_carousel1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#skill_carousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#skill_carousel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="/assets/images/skill/plantation1.jpg" class="d-block w-100" alt="Plantation">
						</div>
						<div class="carousel-item">
							<img src="/assets/images/skill/plantation2.jpg" class="d-block w-100" alt="Plantation">
						</div>
						<div class="carousel-item">
							<img src="/assets/images/skill/plantation3.jpg" class="d-block w-100" alt="Plantation">
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#skill_carousel1" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#skill_carousel1" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>


		<div class="row skill_box">
			<div class="col-sm-4 skill_text">
				<div id="skill_carousel2" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#skill_carousel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#skill_carousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#skill_carousel2" data-bs-slide-to="2" aria-label="Slide 3"></button>
						<button type="button" data-bs-target="#skill_carousel2" data-bs-slide-to="3" aria-label="Slide 4"></button>
						<button type="button" data-bs-target="#skill_carousel2" data-bs-slide-to="4" aria-label="Slide 5"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="/assets/images/skill/Bouchon1.jpg" class="d-block w-100" alt="bouchon">
						</div>
						<div class="carousel-item">
							<img src="/assets/images/skill/Bouchon2.jpg" class="d-block w-100" alt="bouchon">
						</div>
						<div class="carousel-item">
							<img src="/assets/images/skill/Bouchon3.jpg" class="d-block w-100" alt="bouchon">
						</div>
						<div class="carousel-item">
							<img src="/assets/images/skill/Bouchon4.jpg" class="d-block w-100" alt="bouchon">
						</div>
						<div class="carousel-item">
							<img src="/assets/images/skill/Bouchon5.jpg" class="d-block w-100" alt="bouchon">
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#skill_carousel2" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#skill_carousel2" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>

			<div class="col-sm-8 skill_text">
				<h2 class="skill_name">
					<img src="/assets/images/grape.jpg" alt="raisin" class="grape" width="100px">
					Fabrication de bouchon en liège
				</h2>
				<p>
					Le bouchon de liège est un bouchon élaboré à partir de l'écorce du chêne liège, il est étanche, poreux et souple. 
					C'est le bouchon idéal pour la fermeture des bouteilles de vins. Le liège, par sa grande élasticité, est parfaitement étanche au liquide, mais perméable à l’air. 
					Ainsi, lorsque vous conservez une bouteille dans votre cave, le bouchon génère un échange gazeux qui aide les saveurs à se développer.
				</p>
			</div>
		</div>


		<div class="row skill_box">
			<div class="col-sm-8 skill_text">
				<h2 class="skill_name">
					<img src="/assets/images/grape.jpg" alt="raisin" class="grape" width="100px">
					Lutte contre le gel
				</h2>
				<p>
					Les gelées de printemps arrivent au moment où la vigne reprend son activité, après avoir ralenti en hiver. Dès que les températures deviennent plus douces, la vigne évolue très rapidement et peut déjà former ses premiers bourgeons. Rappelons que les bourgeons formeront les grappes de raisin. Lorsque la vigne gèle à cette étape, le bourgeon peut brunir et mourir dès le dégel.
				</p>
			</div>
			<div class="col-sm-4 skill_text">
				<div id="skill_carousel3" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#skill_carousel3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#skill_carousel3" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#skill_carousel3" data-bs-slide-to="2" aria-label="Slide 3"></button>
						<button type="button" data-bs-target="#skill_carousel3" data-bs-slide-to="3" aria-label="Slide 4"></button>

					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="/assets/images/skill/Antigel1.jpg" class="d-block w-100" alt="gel">
						</div>
						<div class="carousel-item">
							<img src="/assets/images/skill/antigel2.jpg" class="d-block w-100" alt="gel">
						</div>
						<div class="carousel-item">
							<img src="/assets/images/skill/antigel3.jpg" class="d-block w-100" alt="gel">
						</div>
						<div class="carousel-item">
							<img src="/assets/images/skill/antigel4.jpg" class="d-block w-100" alt="gel">
						</div>

					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#skill_carousel3" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#skill_carousel3" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>

		</div>

	</div>


{% endblock %}
