{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/actuality.css">
{% endblock %}

{% block content %}

<div class ="container" >


    <div class="card actuality">
            <div class="row ">
                <div class="col-sm-5">
                    <img class="card-img" src="/assets/images/history1.jpeg" alt="Suresh Dasari Card">
                </div>




                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">Suresh Takashi Dasari</h5>
                        <p class="card-text">Pariatur aliqua commodo aliqua sint.
                         Ad magna deserunt sint cillum ea qui esse est Lorem irure anim officia nulla id.
                         Nostrud qui minim adipisicing irure amet excepteur incididunt amet pariatur exercitation sint ipsum amet.
                         Voluptate consequat aute exercitation aute voluptate adipisicing est. Id et in laborum enim proident duis dolore.
                         Commodo est dolore proident pariatur commodo incididunt. Ipsum consequat veniam excepteur incididunt ea dolore dolor consectetur reprehenderit id duis cupidatat.</p>
                        <a href="#" class="btn btn-primary">View Profile</a>
                    </div>
                </div>
            </div>
        </div>

</div>








        
{% endblock %}