{% extends 'layout.html.twig' %}

{% block content %}
    <header>
        <div class ="logoContainer">
            <img src="assets/images/logo.svg" alt="logo" class ="logo ">
        </div>
    </header>
{% endblock %}
