{% extends 'layout.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/order.css">
{% endblock %}
{% block content %}
    <div class = "container">
        <h1>Commandez </h1>
        {% include 'includes/_orderForm.html.twig' %}
    </div>
{% endblock %} 