{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="order-form">
        <div class="row">
            <div class="col p-5 m-10">
                <p class="p-5 m-15">La commande a bien été enregistrée. Merci de votre confiance</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
