@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Slab:wght@300&family=Viaoda+Libre&display=swap%27');
@import "header.css";
@import "footer.css";

:root{
    --primary:#62011D;
    --secondary:#F2E8DF;
    --light:#ffffff;
    --dark:#080100;
    --error-color:#af0101;

    --main-font:'Raleway',sans-serif;
    --title-font:'Roboto Slab',serif;

    --simple-space: 8px;
    --double-space: 16px;
}
body{ 
    padding-top: 70px;
}

h1{
    color: var(--primary);
    font-family: var(--title-font);
    font-weight: bold;
}

.error{
    font-weight: bold;
    color: var(--error-color);
}
.navbar-brand{
    font-family: var(--title-font);
    font-family: var(--title-font);
    font-weight: bolder;
    font-size: 24px;
    margin-left: 40px;
}
nav{
    background-color:var(--primary);
}
.nav-item{
    font-family: var(--title-font);
    font-weight: bolder;
    font-size: 24px;
    margin-right: 40px;
}
#navbarNavAltMarkup{
    text-align: center;
}
.order-form {
    color: var(--primary);
    border:var(--primary) 2px solid;
    border-radius: 8px;
}

.btnJavoy {
    background-color:  var(--primary);;
    color: var(--secondary);
    font-weight: bolder;
    font-size: 14px;
    padding:10px;
    text-decoration: none;
}

.btnJavoy:hover {
    background-color:  var(--secondary);;
    color: var(--primary);
    font-weight: bolder;
    font-size: 14px;
    padding:10px;
    text-decoration: none;
}

.link {
    font-family: var(--main-font);
    color: var(--primary);
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}
.link:hover {
    font-family: var(--main-font);
    color: var(--error-color);
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}