.cart .alert {
  background-color: var(--primary);
}
.cart .alert p {
  color: var(--light);
  text-align: center;
  font-family: var(--main-font);
  font-weight: bolder;
  min-height: 100px;
}

.cart h1 {
  color: var(--primary);
  font-weight: bold;
  font-family: var(--title-font);
  margin-bottom: 70px;
  text-align: center;
}
.cart h2 {
  color: var(--primary);
  font-weight: bold;
  font-family: var(--main-font);
}
.cart h2 {
  color: var(--primary);
  font-weight: bold;
  font-family: var(--title-font);
  font-size: 1.5em;
}
.cartCard {
  border: 2px var(--primary) solid;
  padding: 36px 27px;
  border-radius: 10px;
}
.cart img {
  width: 100%;
}
.cart .btn-primary {
  background-color: var(--primary);
}

.totalPrice h3,
.totalPrice h4 {
  padding-bottom: 16px;
  border-bottom: 2px #62011d solid;
}
.cartCard .btn {
  padding: 10px !important;
}
@media (max-width: 987px) {
  .cartDescription {
    display: none;
  }
}
@media (max-width: 620px) {
  p {
    font-size: 14px !important;
  }
}
