
    
    .category_page h1{
        margin-top: 30px;
    text-align: center;
     }
     
   
    
    .background_wine{
        background-image: url('../images/vignes.jpg');
        background-size: cover;
        height: 500px;
        width: 100%;
        margin-bottom: var(--margin-card);
    }
.card-wine .btn-dark {
    background-color: var(--primary);
}
