.borderBackground{
    background-color:var(--primary);
}

.borderUnderText {
    border-bottom: 2px var(--light) solid;
}

h2 {
    color: var(--light);
}

label {
    color: var(--primary);
}

button {
    background-color: var(--light);
    color: var(--primary);
    border-color: var(--primary);
    border-radius: 3px;
    width: 8rem;
}

button:hover{
    filter: brightness(150%);
    transition: 0,5s;
}

button:active{
    filter: brightness(50%);
}
