.contact h1{
    color: var(--primary);
    font-family: var(--title-font);
    font-weight: bold;
    margin-left: var(--double-space);
    margin-top: 80px;
}

.container{
  margin-top: 20px;
}

.card-header{
  text-align: center;
  font-weight: bold;
  color: var(--primary);
}

.card-text{
  padding-top: 30px;

}

.contact{
  margin-top: 70px;
}

.OSM{
  margin-top: 50px;
  border:var(--primary) 2px solid; 
  border-radius: 8px;
  width:500px;
  height:400px;
}