footer {
    color: grey;
    background: #292929;
    padding: 50px;
    margin-top: 50px;
}
 
footer p, a {
    font-size: 12px;
}

footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
}

.btn-footer {
    color: grey;        
    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}

footer ul li {
    list-style: none;
    display: block;
}

footer ul  {
    padding-left: 0;
}

footer ul  li a{
    text-decoration: none;
    color: grey;
}

a:hover {
    color: #f5f5f5 !important;
}

.logo-part {
    border-right: 1px solid grey;
    height: 100%;
}

.logo-footer{
    width:60%;
}

.social img{
    height : 75px;
    filter: grayscale(100%);
}

.social img:hover{
    filter: grayscale(0%);
}
