:root {
  --footer-color: var(--primary);
  --footer-font-color: #ffffff;
  --btn-hover-color: #666565;

  --footer-font: 'Playfair Display', serif;
  --footer-font-size: 13px;

  --line-height: 43px;
  --border-height: 1px Solid;
}
footer {
  color: var(--footer-font-color);
  padding: 50px;
  background: var(--footer-color);
}

footer p,
a {
  font-size: var(--footer-font-size);
}

footer h6 {
  font-family: var(--footer-font);
  margin-bottom: 40px;
  position: relative;
}

.btn-footer {
  color: var(--footer-font-color);
  text-decoration: none;
  border: var(--border-height);
  border-radius: var(--line-height);
  font-size: var(--footer-font-size);
  padding: 7px 30px;
  line-height: var(--line-height);
  transition: color 0.3s;
}

.btn-footer:hover {
  color: var(--btn-hover-color);
}

footer ul li {
  list-style: none;
}

footer ul {
  padding-left: 0;
}

footer ul li a {
  text-decoration: none;
  color: var(--footer-font-color);
  transition: color 0.3s;
}

a:hover {
  color: var(--btn-hover-color);
}

.logo-part {
  border-right: var(--border-height) grey;
  height: 100%;
}

.logo-footer {
  width: 60%;
}

.social {
  justify-items: center;
  flex-wrap: nowrap;
}

.social img {
  height: 70px;
  transition: filter 0.3s, transform 0.2s;
}

.social img:hover{
  filter: drop-shadow(0px 0px 0px grey) invert(50%);
  transform: scale(1.1);
}

.wave {
  overflow: hidden;
}
.wave img{
  width: 110vw;
  margin: -1px;
}