@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Slab:wght@300&family=Viaoda+Libre&display=swap%27');
 
:root
{
    --primary:#62011D;
    --secondary:#F2E8DF;
    --light:#ffffff;
    --dark:#080100;

    --main-font:'Raleway',sans-serif;
    --title-font:'Roboto Slab',serif;

    --simple-space: 8px;
    --double-space: 16px;
}
h1{
    color: var(--light);
    font-family: var(--title-font)
}

body {
    background-image: url('../images/bouteille-de-vin.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--light);
}