@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Slab:wght@300&family=Viaoda+Libre&display=swap%27');
@import "header.css";
@import "footer.css";
@import "category.css";
@import "cart.css";

:root
{
    --primary:#62011D;
    --secondary:#F2E8DF;
    --light:#ffffff;
    --dark:#080100;
    --error-color:#af0101;

    --main-font:'Raleway',sans-serif;
    --title-font:'Roboto Slab',serif;

    --simple-space: 8px;
    --double-space: 16px;
}

h1{
    color: var(--secondary);
    font-family: var(--title-font);
    font-weight: bold;
}

.error{
    font-weight: bold;
    color: var(--error-color);
}
.navbar-brand{
    font-family: var(--title-font);
    font-weight: bolder;
    font-size: 1.5em;
    margin-left: 40px;
}
nav{
    background-color:var(--primary);
}
.nav-item{
    font-family: var(--title-font);
    font-weight: bolder;
    font-size: 24px;
    margin-right: 40px;
    transition: filter  0.3s, transform 0.2s;
}
.navbar-nav a:hover{
    filter: drop-shadow(0px 0px 0px grey) invert(50%);
    transform: scale(1.1);
  }
#navbarNavAltMarkup{
    text-align: center;
}
.order-form {
    color: var(--primary);
    border:var(--primary) 2px solid;
    border-radius: 8px;
}
