@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Slab:wght@300&family=Viaoda+Libre&display=swap%27');
@import "header.css";
:root
{
    --primary:#ffffff;
    --secondary:#62011D;
    --light:#F2E8DF;
    --dark:#080100;

    --main-font:'Raleway',sans-serif;
    --title-font:'Roboto Slab',serif;
}
.navbar-brand{
    font-family: var(--title-font);
    font-family: var(--title-font);
    font-weight: bolder;
    font-size: 24px;
    margin-left: 40px;
}
nav{
    background-color:var(--secondary);
}

.nav-item{
    font-family: var(--title-font);
    font-weight: bolder;
    font-size: 24px;
    margin-right: 40px;
}
#navbarNavAltMarkup{
    text-align: center;
}