{# <body>
    <section class="opening">
    <h1>CONTACT</h1> 
        <div class="container">
            <div class="card-opening">
	            <div class="card bg-light mb-3" style="width: 450px; height: 500px;">
		            <div class="card-header">HORAIRES D'OUVERTURE</div>
		            <div class="card-body">
			            <p class="card-text"><i>Lundi: Fermé</br></i><strong>Mardi: 09:00-12:00 / 14:00-19:00</br></strong><strong>Mercredi: 09:00-12:00 / 14:00-19:00</br> 
                        Jeudi: 09:00-12:00 / 14:00-19:00</br></strong><strong>Vendredi: 09:00-12:00 / 14:00-19:00</br></strong><strong>Samedi: 09:00-12:00 / 14:00-18:00</br>
                        </strong><i>Dimanche: Fermé</i></p>
			            <p class="card-text"><img src="/assets/images/place.png" alt"icon_phone" width="40px" height="35px"/>    450 Rue du Buisson, 45370 Mézières-lez-Cléry</p>
                        <p class="card-text"><img src="/assets/images/phone.png" alt"icon_phone" width="40px" height="35px"/>    02 38 45 66 95</p>
		            </div>
                </div>
             </div>
        </div>
    </section>
 #}
