<footer class="footer">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <img class="LogoFooter" src="/assets/images/LogoFooter.png" alt="logo">
        </div>
        <div class="col-sm-6 social">
            <a href="https://www.facebook.com/Javoy-et-Fils-144271666105530/" target="_blank">
                <img class="LogoFB" src="/assets/images/facebook-logo-circle-new.png" alt="logoFB">
            </a>
            <a href="https://www.vigneron-independant.com/javoy-et-fils" target="_blank">
                <img class="LogoVI" src="/assets/images/vigneron_independant-220x220.png" alt="logoVI">
            </a>
        </div>
    </div>
</div>
</footer>