<footer class="footer fixed-bottom">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <img class="LogoFooter" src="/assets/images/LogoFooter.png" alt="logo">
        </div>
        <div class="col-sm-6 social">
            <a href="https://www.bienvenue-a-la-ferme.com/centre/loiret/mezieres-les-clery/ferme/javoy-et-fils/122392" target="_blank">
                <img class="LogoBAF" src="/assets/images/logoBAF.png" alt="logo Bienvenue a la ferme">
            </a>
            <a href="https://www.facebook.com/Javoy-et-Fils-144271666105530/" target="_blank">
                <img class="LogoFB" src="/assets/images/logoFB.png" alt="logo FaceBook">
            </a>
            <a href="https://www.vigneron-independant.com/javoy-et-fils" target="_blank">
                <img class="LogoVI" src="/assets/images/logoVI.png" alt="logo Vigneron Indépendant">
            </a>
        </div>
    </div>
</div>
</footer>