
<footer class="container-fluid ">
    <div class="container outer-footer-container ">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="logo-part">
                            <img src="/assets/images/logo.svg" class="logo-footer" >
                            <p></br>450 Rue Du Buisson,</p>
                            <p>45370 MEZIERES LEZ CLERY</p>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <h6>Contact</h6>
                        <a href="#" class="btn-footer"> Nous contacter </a><br>
                        <a href="https://goo.gl/maps/CYzbMutWZPdT3bun7" target="_blank" class="btn-footer"> Nous rejoindre</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 ">
                        <h6> Navigation</h6>
                            <div class="row ">
                                <div class="col-md-6">
                                    <ul>
                                        <li> <a href="#"> Accueil</a> </li>
                                        <li> <a href="#"> Commande</a> </li>
                                        <li> <a href="#"> Actualités</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="social">
                                <a href="#"><img src="/assets/images/logoFB.svg" alt"logo FaceBook "></a>
                                <a href="#"><img src="/assets/images/logoVI.svg" alt"logo Vigneron independant"></a>
                                <a href="#"><img src="/assets/images/logoBAF.svg" alt"logo bienvenue à la ferme"></a> 
                            </div>
                            <p>Copyright - Javoy Père & Fils - 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>