<div class="wave">
	<img src="/assets/images/wave.svg" alt"">
</div>
<footer class="container-fluid ">
	<div class="container outer-footer-container ">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6 ">
						<div class="logo-part">
							<img src="/assets/images/logo.svg" class="logo-footer"><p></p>
						    </br>450 Rue Du Buisson,</p>
					        <p>45370 MEZIERES LEZ CLERY</p>
				        </div>
			        </div>
			        <div class="col-md-6 ">
				        <h6>Contact</h6>
				        <a href="/Contact/index" class="btn-footer">
					    Nous contacter
				        </a><br>
				        <a href="https://goo.gl/maps/CYzbMutWZPdT3bun7" target="_blank" class="btn-footer">
					    Nous rejoindre</a>
			        </div>
		        </div>
	        </div>
	        <div class="col-md-6">
		        <div class="row">
			        <div class="col-md-6 ">
				        <h6>
					        Navigation</h6>
				        <div class="row ">
					        <div class="col-md-6">
						        <ul>
							        <li><a href="/">Accueil</a></li>
							        <li><a href="/order/add">Commande</a></li>
							        <li><a href="/Actuality/index">Actualités</a></li>
						        </ul>
					        </div>
				        </div>
			        </div>
			        <div class="col-md-6 ">
				        <div class="social">
					        <a href="https://www.facebook.com/Javoy-et-Fils-144271666105530/" target="_blank" rel="noopener noreferrer">
						        <img src="/assets/images/logoFB.png" alt"logo facebook "></a>
					        <a href="https://www.vigneron-independant.com/javoy-et-fils">
						        <img src="/assets/images/logoVINB.png" alt"logo vigneron independant"></a>

					        <a href="https://www.bienvenue-a-la-ferme.com/centre/loiret/mezieres-les-clery/ferme/javoy-et-fils/122392">
						        <img src="/assets/images/logoBAFNB.png" alt"logo bienvenue à la ferme"></a>
				        </div>
				        <p>Copyright - Javoy Père & Fils - 2021</p>
			        </div>
		        </div>
	        </div>
        </div>
    </div>
</footer>
