<div class="container">
  <form action="" method="POST">
      <div class="mb-3">
          <label for="form-contact" class="form-label">Nom :</label>
          <input type="text" class="form-control" id="form-contact" placeholder="De-la-croix">
        </div>
        <div class="mb-3">
          <label for="form-contact" class="form-label">Prénom :</label>
          <input type="text" class="form-control" id="form-contact" placeholder="Jean">
        </div>
        <div class="mb-3">
          <label for="form-contact" class="form-label">Email :</label>
          <input type="email" class="form-control" id="form-contact" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="form-contact" class="form-label">Votre message:</label>
          <textarea class="form-control" id="form-contact" rows="3" placeholder="Message"></textarea>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Envoyer</button>
        </div>
  </form>
</div>