<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" href="/">JAVOY Père et Fils</a>
  <button class="navbar-toggler hidden-md-up pull-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse justify-content-end"id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Produits</a>
      <a class="nav-item nav-link active" href="/Skill/index">Savoir faire</a>
      <a class="nav-item nav-link active" href="/Actuality/index">Actualités</a>
      <a class="nav-item nav-link active" href="/Contact/index">Contact</a>
      <a class="nav-item nav-link active" href="#"><img src="/assets/images/panier.png" alt="panier"width="30"></a>
    </div>
  </div>
</nav>