{% block stylesheet %}<link rel="stylesheet" href="/assets/css/recompense.css">{% endblock %}

<div class='container mt-5'>
    <div class="col d-flex justify-content-center mt-4">
        <h2>Nos Récompenses</h2>
    </div>
    <div class="row mt-5">
        <div class="col-sm-4 d-flex justify-content-center">
            <div class="card-no-border">
                <img class="card-img-top" src="/assets/images/medaille-or.png" alt="Médaille d'or">
            </div>
            </div>
        <div class="col-sm-4 d-flex justify-content-center">
            <div class="card-no-border">
                <img class="card-img-top" src="/assets/images/medaille-argent.png" alt="Médaille d'argent">
            </div>
        </div>
        <div class="col-sm-4 d-flex justify-content-center">
            <div class="card-no-border">
                <img class="card-img-top" src="/assets/images/coup-de-coeur-guide-hachette-scaled.jpg" alt="Coup de coeur guide hachette">
            </div>
        </div>
    </div>
</div>