<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1 style="font-size:20px">JAVOY Père et Fils<h1/>
        <p>Référence :{{data.reference}}</p>
        <p>Votre commande est disponible, vous pouvez récupérer votre commande directement dans notre magasin à cette adresse :<strong>
            450 Rue du Buisson, 45370 Mézières-lez-Cléry</strong>
        </p>
        <p>Cordialement,</p>
        <p>JAVOY Père et Fils</p>
      </body>
    </html>
