{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/contact.css">

<!-- fichier CSS librairie leaflet-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin="" />
{% endblock %}


{% block content %}

    <section class="contact">
        <h1>CONTACT</h1> 
        <div class= "container">
            <div class="row d-flex justify-content-around">
                    <div class="col-sm-6 card-opening">
                        <div class="card bg-light mb-3">
                            <div class="card-header">HORAIRES D'OUVERTURE</div>
                            <div class="card-body">
                                    <p class="card-text"><i>Lundi: Fermé</br></i><strong>Mardi: 09:00-12:00 / 14:00-19:00</br></strong><strong>Mercredi: 09:00-12:00 / 14:00-19:00</br> 
                                    Jeudi: 09:00-12:00 / 14:00-19:00</br></strong><strong>Vendredi: 09:00-12:00 / 14:00-19:00</br></strong><strong>Samedi: 09:00-12:00 / 14:00-18:00</br>
                                    </strong><i>Dimanche: Fermé</i></p>
                                    <p class="card-text"><img src="/assets/images/place.png" alt"icon_phone" width="40px" height="35px"/>    450 Rue du Buisson, 45370 Mézières-lez-Cléry</p>
                                    <p class="card-text"><img src="/assets/images/phone.png" alt"icon_phone" width="40px" height="35px"/>    02 38 45 66 95</p>
                            </div>
                        </div>
                    </div>
                <div class="OSM" id="maCarte"</div>
            </div>
        </div>
    </section>
    
{% include "/includes/_formContact.html.twig" %}
{% endblock %}


{% block javascript %}	
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="crossorigin="">
</script>

<script src="/assets/js/map.js"></script> 
{% endblock %}












