{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/contact.css">

<!-- fichier CSS librairie leaflet-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin="" />
{% endblock %}


{% block content %}
    <section class="opening">
    <h1>CONTACT</h1> 
        <div class="container">
            <div class="card-opening">
	            <div class="card bg-light mb-3" style="width: 450px; height: 500px;">
		            <div class="card-header">HORAIRES D'OUVERTURE</div>
		            <div class="card-body">
			            <p class="card-text"><i>Lundi: Fermé</br></i><strong>Mardi: 09:00-12:00 / 14:00-19:00</br></strong><strong>Mercredi: 09:00-12:00 / 14:00-19:00</br> 
                        Jeudi: 09:00-12:00 / 14:00-19:00</br></strong><strong>Vendredi: 09:00-12:00 / 14:00-19:00</br></strong><strong>Samedi: 09:00-12:00 / 14:00-18:00</br>
                        </strong><i>Dimanche: Fermé</i></p>
			            <p class="card-text"><img src="/assets/images/place.png" alt"icon_phone" width="40px" height="35px"/>    450 Rue du Buisson, 45370 Mézières-lez-Cléry</p>
                        <p class="card-text"><img src="/assets/images/phone.png" alt"icon_phone" width="40px" height="35px"/>    02 38 45 66 95</p>
		            </div>
                </div>
             </div>
        </div>
    </section>

{# {% include "includes/_contact.html.twig" %} #}

<!-- iframe pour affichage html -->
<iframe width="425" height="350" frameborder="0" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=1.5892410278320312%2C47.721542090369304%2C2.0424270629882817%2C47.93405671030359&amp;layer=mapnik&amp;marker=47.82790816919329%2C1.8158340454101562"
style="border: 1px solid black"></iframe>


<iframe width="425" height="350" frameborder="0" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=1.5892410278320312%2C47.721542090369304%2C2.0424270629882817%2C47.93405671030359&amp;layer=mapnik&amp;marker=47.82790816919329%2C1.8158340454101562"
style="border: 1px solid black"></iframe>

<section class="openStreetMap">
<title>OpenstreetMap</title>
<div id="maCarte" width="600px" height="500px"></div>
</section>
{% endblock %}


{% block javascript %}
<!-- fichier JS librairie leaflet-->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="crossorigin="">
</script>

    <script>
        var places = {
                "Javoy Père & Fils": { "lat":47.83309, "lon":1.81769 },
                "Château de Chambord": { "lat":47.616, "lon":1.517 },
                "Orléans": { "lat":47.902, "lon":1.908 }
        };
        // initialisation de la carte
        var carte = L.map('maCarte').setView([47.83309, 1.81769], 11);
        
        // chargement des "tuiles"
        L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
            attribution: 'données <a href="//osm.org/copyright">OpenStreetMap</a>ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
            minzoom: 1,
            maxZoom: 20,
        }).addTo(carte);
        
        //on parcourt les différentes villes
        for(place in places){
            // création du marqueur et attribution d'un popup
            var marker = L.marker([places[place].lat, places[place].lon])
            .addTo(carte);
            marker.bindPopup("<p><strong>"+place+"</strong></p>");
        }
     </script>
    {% endblock %}







