{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="order-form">
        <div class="row">
            <div class="col p-5 m-10">
                <p class="p-5 m-15">Votre demande a été prise en compte, nous vous contacterons dans les 48 heures par mail </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
